
<table class="table">

  <tbody>
    <tr>
      <td>Диагональ</td>
      <td>{{ product.diagonal }}</td>
    </tr>
   <tr>
      <td>Тип дисплея</td>
      <td>{{ product.display_type }}</td>
    </tr>


  </tbody>
</table>
{#    diagonal = models.CharField(max_length=255, verbose_name='Диагональ')#}
{#    display_type = models.CharField(max_length=155, verbose_name='Тип дисплея')#}
{#    resolution = models.CharField(max_length=155, verbose_name='Разрешение экрана')#}
{#    accum_volume = models.CharField(max_length=155, verbose_name='АКБ')#}
{#    ram = models.CharField(max_length=255, verbose_name='Память')#}
{#    sd = models.BooleanField(default=True)#}
{#    sd_volume = models.CharField(max_length=255, verbose_name='Максимальный объем встраиваемой памяти')#}
{#    main_cam_mp = models.CharField(max_length=255, verbose_name='Камера')#}
{#    frontal_cam_mp = models.CharField(max_length=255, verbose_name='Фронтальная камера')#}